/**
 * MailUp for WordPress - Admin CSS
 *
 * @author ilGhera
 * @package mailup-for-wc/css
 * @version 0.9.0
 */

#mufwc-admin-menu {
	margin: 1rem 0 2rem;
}

.mufwc-field {
	width: 260px;
	margin-right: 0.5rem;
}

.mufwc-form, .mufwc-table {
	margin-top: 2rem;
}

.one-of {
	padding-bottom: 3rem;
	border-bottom: 1px solid #ccc;
}

.mufwc-button {
	margin-top: 1rem !important;
}

.mufwc-admin {
	display: none;
}

span.mufwc-alert {
	display: block;
	margin: 1rem 0 0;
	padding: 0.6rem;
	background: #F2DEDE;
	border-radius: 0.2rem;
	color: #a94442;	
}

span.mufwc-alert a {
	color: #a94442;	
	text-decoration: underline;
}

.wrap-left {
    float: left;
    width: 70%;
}

.wrap-right {
    float: left;
    width: 30%;
    text-align: center;
    padding-top: 3rem;
}

form#mufwc-premium-key {
	margin: 2rem 0;
}

form#mufwc-premium-key label {
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 0.5rem;
}


form#mufwc-premium-key input[type="text"] {
	width: 560px;
}

form#mufwc-premium-key input.button {
	margin-top: 1rem;
}

.mufwc-post-field,
.privacy-field {
	display: none;
}

.mufwc-newsletter-option {
    display: none;
}

